<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {%- for target in site.select_targets("*.css") %}
    <link rel="stylesheet" href="{{ target.url }}" />
    {%- endfor %}
    {%- if meta.title %}
    <title>{{ config.name }} - {{ meta.title }}</title>
    {%- else %}
    <title>{{ config.name }}</title>
    {%- endif %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
