<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- for target in site.select_targets("*.css") %}
    <link rel="stylesheet" href="{{ target.url }}" />
    {%- endfor %}
    <title>{{ (meta.page_title | default(meta.title)) | default(config.name) }}</title>
  </head>
  <body>
    {% if meta.title -%}<h1>{{ meta.title }}</h1>{%- endif %}
    {{- content | indent -}}
  </body>
</html>
