NIX_DIRENV_VERSION="3.1.0"
NIX_DIRENV_HASH="sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="

if ! has nix_direnv_version || ! nix_direnv_version ${NIX_DIRENV_VERSION}; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/${NIX_DIRENV_VERSION}/direnvrc" "${NIX_DIRENV_HASH}"
fi

use flake . --impure

source_env_if_exists .envrc-private
