NIX_DIRENV_VERSION="3.0.5"
NIX_DIRENV_HASH="sha256-RuwIS+QKFj/T9M2TFXScjBsLR6V3A17YVoEW/Q6AZ1w="

if ! has nix_direnv_version || ! nix_direnv_version ${NIX_DIRENV_VERSION}; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/${NIX_DIRENV_VERSION}/direnvrc" "${NIX_DIRENV_HASH}"
fi

use flake . --impure

source_env_if_exists .envrc-private
