# python #
*.pyc
*.pyo
*.egg-info
.coverage
.coverage.*
.junit.xml
.tox
.cache
.eggs
dist/
__pycache__/
htmlcov/
venv/
.venv
wheels/
docs/_build

# pyenv #
.python-version

# temp files #
*.swp
*.swo
.idea/

# others #
.direnv/
.todo
.env
.envrc-private
.DS_STORE
Thumbs.db
sandbox/

**/.volt-server.run
