# python #
*.pyc
*.pyo
*.egg-info
.coverage
.coverage.*
.tox
.cache
.eggs
dist/
__pycache__/
htmlcov/
venv/
.venv

# pyenv #
.python-version

# temp files #
*.swp
*.swo
.idea/

# others #
.todo
.env
.envrc
.DS_STORE
Thumbs.db
sandbox/
