# general / os-specific
*.pyc
*.swp
*.gz
.DS_STORE
Thumbs.db

# python test/dev-related
build/
htmlcov/
.tox/
*.egg-info
.coverage
distribute-*
distribute_setup25.py

# volt-specific
ROADMAP
volt/templates/sandbox/
volt/templates/docs/
