include README.rst TODO MANIFEST.in LICENSE distribute_setup.py
recursive-include docs *
recursive-include extras *
recursive-include volt *
recursive-exclude volt *.class
recursive-exclude volt *.pyc
recursive-exclude . .coverage
recursive-exclude .  htmlcov
prune .tox
prune Makefile
prune dev-requirements.txt
