include README.rst MANIFEST.in HISTORY.rst LICENSE
recursive-include docs *
recursive-include extras *
recursive-include volt *
recursive-exclude volt *.class
recursive-exclude volt *.pyc
recursive-exclude volt *.log
recursive-exclude volt *.swp
recursive-exclude . .coverage
recursive-exclude .  htmlcov
prune .travis.yml
prune .tox
prune requirements.txt
prune requirements-dev.txt
