/* CSS for the Ion Volt theme. */

:root {
}

html {
  font-size: calc(18px * ((100vw - 300px) / (1600 - 300)));
}

body {
  margin: 0;
}

@media only screen and (min-width: 400px) {
}

@media only screen and (min-width: 760px) {
}

@media print {
  body {
    border-top: 0;
  }

  @page {
    margin-top: 1.5cm;
    margin-bottom: 2cm;
    margin-left: .8cm;
    margin-right: .8cm;
  }
}
