{# Copyright (c) 2012-2022 Wibowo Arindrarto <contact@arindrarto.dev> #}
{# SPDX-License-Identifier: BSD-3-Clause #}
<!DOCTYPE html>
<html{% if config.language %} lang="{{ config.language }}"{% endif %}>
  <head>
    <meta charset="utf-8">
    {%- if config.description %}
    <meta name="description" content="{{ config.description }}">
    {%- endif %}
    {%- for author in config.authors %}
    <meta name="author" content="{{ author }}">
    {%- endfor %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- if config.language %}
    <meta http-equiv="content-language" content="{{ config.language }}">
    {%- endif %}
    <title>{{ (meta.page_title | default(meta.title)) | default(config.name) }}</title>
  </head>
  <body>
    <main>
    {% if meta.title %}<h1>{{ meta.title }}</h1>{%- endif %}
    {{ content }}
    </main>
  </body>
</html>
