<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {%- for output in site.select_outputs("*.css") %}
    <link rel="stylesheet" href="{{ output.url }}" />
    {%- endfor %}
    <title>{{ (meta.page_title | default(meta.title)) | default(config.name) }}</title>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
