{% extends "base.html.j2" %}

{%- block content %}
  {{- meta | pub_timestamp }}
  {{- content | indent }}
  {%- if not meta | is_index %}
    <a href="/">/</a>
  {%- else %}
    <ul>
    {%- for html_target in site.select_targets("*.html") %}
      {%- if html_target.url != '/index.html' %}
        <li>
          <a href="{{ html_target.url }}">{{ html_target.url | basename }}</a>
        </li>
      {%- endif %}
    {%- endfor %}
    <ul>
  {%- endif %}
{%- endblock %}
